html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #30323D;
    color: white;
}

header {
    position: relative;
    top: 0;
    background-color: #5162b8;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding: 15px 0 0 25px;
}

.title {
    font-weight: bold;

}

main {
    position: relative;
    padding: 25px 0 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #E8C547;
    text-decoration: none;
}

a:hover {
    color: #CDD1C4;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #5162b8;
    padding: 25px 0 0 15px;
}